:root {
  --clr-purple: hsl(259, 100%, 65%);
  --clr-light-red: hsl(0, 100%, 67%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-off-white: hsl(0, 0%, 94%);
  --clr-off-black: hsl(0, 0%, 8%);
  --clr-light-grey: hsl(0, 0%, 86%);
  --clr-smokey-grey: hsl(0, 1%, 44%);

  --fw-normal: 400;
  --fw-bold: 700;
  --fw-bolder: 800;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--clr-off-white);
  display: flex;
  justify-content: center;
  width: 100%;
}

.calculator-wrapper {
  margin: 8.8rem 1.6rem 0 1.6rem;
  padding: 5rem 2.4rem 4.4rem 2.4rem;
  background-color: var(--clr-white);
  border-radius: 2.4rem 2.4rem 10rem 2.4rem;
  max-width: 84rem;
  width: 100%;
}

/* TEXT FIELD */

.text-field-wrapper {
  display: flex;
  --field-gap: 1.6rem;
}

.text-field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.text-field label {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--clr-smokey-grey);
}
.text-field.month,
.text-field.year {
  margin-left: var(--field-gap);
}
.text-field input {
  font-size: 2rem;
  font-weight: 700;
  padding: 1.4rem 0 1.4rem 1.5rem;
  border-radius: 0.8rem;
  border: 1px solid var(--clr-smokey-grey);
  color: var(--clr-off-black);
  max-width: 16rem;
  min-width: 8.8rem;
  width: 100%;
  margin: 0.6rem 0 0 0;
  outline: none;
}
.text-field input:focus {
  border-color: var(--clr-purple);
}
.text-field span {
  margin-top: 1rem;
  display: none;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  color: var(--clr-light-red);
}
.text-field.error label {
  color: var(--clr-light-red);
}
.text-field.error input {
  border-color: var(--clr-light-red);
}
.text-field.error span {
  display: block;
}

.btn-submit-wrapper span {
  position: absolute;
  display: block;
  height: 0.2rem;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--clr-light-grey);
}
.btn-submit-wrapper button {
  z-index: 10;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 9999px;
  border: none;
  background-color: var(--clr-purple);
  transition: ease 200ms;
  cursor: pointer;
}
.btn-submit-wrapper button:hover {
  background-color: var(--clr-off-black);
}
.btn-submit-wrapper {
  margin: 3.2rem 0 3rem 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.calculator-result p {
  font-size: 5.6rem;
  font-weight: var(--fw-bolder);
  letter-spacing: -0.3rem;
  color: var(--clr-off-black);
  margin-left: -4px;
  font-style: italic;
  line-height: 1.07547169811;
}

.calculator-result span {
  margin-right: 0.8rem;
  color: var(--clr-purple);
  font-weight: var(--fw-bold);
}

@media screen and (min-width: 500px) {
  .calculator-wrapper {
    padding-left: 5.6rem;
    padding-right: 5.6rem;
  }
}

@media screen and (min-width: 768px) {
  .calculator-wrapper {
    margin-top: 15.4rem;
    padding-top: 5.8rem;
    padding-bottom: 5rem;
    border-bottom-right-radius: 20rem;
  }

  .btn-submit-wrapper {
    margin: 0;
    justify-content: end;
  }

  .btn-submit-wrapper button {
    width: 9.6rem;
    height: 9.6rem;
  }

  .text-field-wrapper {
    --field-gap: 3.2rem;
  }

  .text-field input {
    margin-top: 1rem;
    padding: 1.6rem 0 1.6rem 2.3rem;
    font-size: 3.2rem;
  }

  .text-field label {
    font-size: 1.4rem;
  }

  .calculator-result p {
    font-size: 10.5rem;
    letter-spacing: -0.3rem;
    margin-top: -0.5rem;
  }
}
